.BackButton {
  float: left;
}

.BackButton button {
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 0.95em;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  align-self: center;
  padding: 0.5vh 1vw;
  color: rgb(0, 0, 0);
  background-color: rgb(233, 233, 233);
  border: 3px solid black;
  cursor: pointer;
}

.BackButton button:disabled {
  border-color: red;
}

.BackButton button:hover {
  border-color: #f6b93b;
  transition: all 0.4s ease 0s;
}
